webshot2==0.1.0
broom==1.0.3
ggh4x==0.2.4
ggforestplot==0.1.0
gghighlight==0.4.0
psych==2.2.9
ragg==1.2.5
dmetar==0.0.9000
metafor==3.8-1
metadat==1.2-0
Matrix==1.5-1
meta==6.2-1
haven==2.5.1
car==3.1-1
carData==3.0-5
gt==0.8.0
ggExtra==0.10.0
ggpubr==0.5.0
forcats==1.0.0
stringr==1.5.0
dplyr==1.1.0
purrr==1.0.1
readr==2.1.3
tidyr==1.3.0
tibble==3.1.8
ggplot2==3.4.2
tidyverse==1.3.2
